<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
	<meta charset="UTF-8">
	<title>Add a Quote Manually</title>
</head>
<body class="tundra">

	 <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    <p></p>

    <p class="commonBoldTextFormat">Add a Quote</p>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

    <div class="formFrame">
	    <form action="saveManualQuote" class="formFormat">
	        <fieldset>
	            Quote date: <input autocapitalize="none" type="date" name="date" /><br>
	            Price at open: <input type="number" name="open" step="any" /><br>
	            Price at close: <input type="number" name="close" step="any" /><br>
	            Holdings: <select name="symbol" id="holdingSelection">
	                <option value="">Select</option>
	                <option th:each="holding : ${holdings}" th:value="${holding.investment.symbol}" th:text="${holding.investment.symbol + ' :: ' + holding.investment.companyName}"/>
	            </select><br>
	            <input type="submit" value="Save Quote" />
	        </fieldset>
	    </form>
    </div>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>

</body>
</html>