<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
    <meta charset="UTF-8">
<title>Edit Quote Data</title>
</head>

<body class="tundra">

     <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>

    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

    <div class="formFrame">
        <form action="#" th:action="@{/updateManualQuote}" th:object="${quote}"  method="post" class="formFormat">
            <input type="hidden" th:field="*{quoteId}" />
            <input type="hidden" name="investmentId" th:value="${quote.investment.investmentId}" />
            <label for="date">Quote Date</label> <input type="date" th:field="*{date}" required/><br/>
            <label for="open">Price at Open</label> <input type="number" th:field="*{open}" step="any" /><br/>
            <label for="close">Price at Close</label> <input type="number" th:field="*{close}" step="any" required /><br/>
            <label for="high">High</label> <input type="number" th:field="*{high}" step="any" /><br/>
            <label for="low">Low</label> <input type="number" th:field="*{low}"step="any"  /><br/>
            <label for="volume">Volume</label> <input type="number" th:field="*{volume}" step="any" /><br/>
            <label for="priceChange">Price Change</label> <input type="number" th:field="*{priceChange}" step="any" /><br/>
            <label for="week52High">52 Week High</label> <input type="number" th:field="*{week52High}" step="any" /><br/>
            <label for="week52Low">52 Week Low</label> <input type="number" th:field="*{week52Low}"step="any" /><br/>
            <input type="submit" value="Update" />
         </form>
    </div>
    
    <p></p>

</body>
</html>
