<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
    <script>require(["js/buildHistoricalQuoteTable"], function (buildHistoricalQuoteTable) {});</script>
	<meta charset="UTF-8">
	<title>Get Quotes</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>

    <div id="jsonStream"></div>
    <p></p>

    <p></p>

    <div class="formFrame">
	    <form class="formFormat">
	        <fieldset>
	            Holdings: <select name="investmentId" id="investmentSelection">
	                <option value="">Select</option>
	                <option th:each="investment : ${investments}" th:value="${investment.investmentId}" th:text="${investment.symbol + ' :: ' + investment.companyName}"/>
	            </select><br>
	            <input type="submit" value="Retrieve" />
	        </fieldset>
	    </form>
    </div>
    
    <p></p>
    
    <table id="changeSummation" class="commonTableFormat"></table>
    
    <p></p>
    
    <table id="tableDiv" class="commonTableFormat"></table>
    
    <p></p>
    
    <div id="resultDiv" class="commonTextFormat"></div>
    <p></p>


</body>
</html>