<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <meta charset="UTF-8">
<title>Edit Quote Data</title>
</head>

<body class="tundra">

     <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

    <div class="formFrame">
        <form action="addHolding" class="formFormat">
            Investment: <select name="investmentId" id="investmentSelect">
                <option value="">Select</option>
                <option 
                    th:each="investment : ${investments}" 
                    th:value="${investment.symbol}" 
                    th:text="${investment.symbol + ' :: ' + investment.companyName}"/>
             </select>
         </form>
    </div><p></p>
    
    <div id="tableDiv" class="commonTableFormat"></div>
    
    <p></p>
    
    <div id="resultDiv" class="commonTextFormat"></div>
    <p></p>
    
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>
   <script>require(["js/buildQuoteTable.js"], function (buildQuoteTable) {});</script>

</body>
</html>