<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
    <script>require(["js/buildQuoteTable.js"], function (buildQuoteTable) {});</script>
    <meta charset="UTF-8">
<title>Edit Quote Data</title>
</head>

<body class="tundra">

     <div id="mainMenu"></div>
    <p></p>

    <div class="formFrame">
        <form action="addHolding" class="formFormat">
            Investment: <select name="investmentId" id="investmentSelect">
                <option value="">Select</option>
                <option 
                    th:each="investment : ${investments}" 
                    th:value="${investment.investmentId}" 
                    th:text="${investment.symbol + ' :: ' + investment.companyName}"/>
             </select>
         </form>
    </div><p></p>
    
    <div id="tableDiv" class="commonTableFormat"></div>
    
    <p></p>
    
    <div id="resultDiv" class="commonTextFormat"></div>
    <p></p>
    
    <div id="jsonStream"></div>

</body>
</html>