<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Get Trades for Account</title>
</head>
<body class="tundra">

	<div id="mainMenu"></div>

    <p></p>

	<div class="formFrame">
	    <form action="tradesForAccount" class="formFormat">
	        <fieldset>
	            <div th:insert="~{fragments :: accountsList}"></div><br>
	            <input type="submit" value="Get Trades"/>
	        </fieldset>
	    </form>
    </div>
    
    
</body>
</html>