<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Enter Split Details</title>
</head>
<body class="tundra">

	<div id="mainMenu"></div>

    <p></p>

    <p class="commonBoldTextFormat">Split Details</p>

	<div class="formFrame">
	    <form action="modelSplit" class="formFormat">
	        <fieldset>
	            Transaction date: <input type="date" name="transactionDate" autofocus="autofocus"/><br>
	            Investment: <select name="investmentId">
	                <option value="">Select</option>
	                <option th:each="investment : ${investments}" th:value="${investment.investmentId}" th:text="${investment.symbol + ' :: ' + investment.companyName}"/>
	            </select><br>
	            <span id="forEvery">For every share there are now: </span>
	            <input type="number" name="splitRatio" step="any" /> Shares<br>
	            <input type="submit" value="Model Split" />
	        </fieldset>
	    </form>
    </div>
    
</body>
</html>