<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Enter a Buy</title>
</head>
<body class="tundra">

	<div id="mainMenu"></div>

    <p></p>

    <p class="commonBoldTextFormat">Purchase Details</p>

	<div class="formFrame">
	    <form action="buyInvestment" class="formFormat">
	        <fieldset>
	            Trade date: <input type="date" name="tradeDate" autofocus="autofocus"/><br>
	            Investment: <select name="investmentId">
	                <option value="">Select</option>
	                <option th:each="investment : ${investments}" th:value="${investment.investmentId}" th:text="${investment.symbol + ' :: ' + investment.companyName}"/>
	            </select><br>
	            Account: <select name="accountId">
	                <option value="">Select</option>
	                <option th:each="account : ${accounts}" th:value="${account.accountId}" th:text="${account.accountName + ' (' + account.owner + ')'}"/>
	            </select><br>
	            Price: <input type="number" name="price" step="any" /><br>
	            Quantity: <input type="number" name="quantity" step="any" /><br>
	            <input type="submit" value="Submit Trade" />
	        </fieldset>
	    </form>
    </div>
    
</body>
</html>