<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
	<meta charset="UTF-8">
	<title>Edit Trade</title>
</head>
<body class="tundra">

	<div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>

    <p class="commonBoldTextFormat">Edit Trade Details</p>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

	<div class="formFrame">
        <form action="#" th:action="@{/updateTrade}" th:object="${transaction}" class="formFormat" method="post">
            Trade type: <span th:text="*{transactionType}"></span><br>
            <fieldset>
                <input type="hidden" name="transactionId" th:field="*{transactionId}" />
	            <input type="hidden" name="previousTransactionType" th:field="*{transactionType}" />
                Account: <select th:field="*{account}">
                    <option value="">Select</option>
                    <option 
                        th:each="account : ${accounts}" 
                        th:value="${account.accountId}" 
                        th:selected="${account.accountId == transaction.account.accountId}"
                        th:text="${account.accountName + ' (' + account.owner + ')'}"/>
                </select><br>
                <div th:if="${transaction.investment} != null">
                    Investment: <select th:field="*{investment}">
                        <option value="">Select</option>
                         <option 
                             th:each="inv : ${investments}" 
                             th:value="${inv.investmentId}"
                             th:text="${inv.symbol + ' :: ' + inv.companyName}"
                             th:selected="${inv.investmentId == transaction.investment.investmentId}" />
                    </select><br>
                </div>
	            Date: <input type="date" th:field="*{transactionDate}"/><br>
	            Price: <input type="number" name="tradePrice" th:field="*{tradePrice}" step="any" /> <br>
	            Quantity: <input type="number" name="tradeQuantity" th:field="*{tradeQuantity}" step="any" /><br>
                <!-- New trade type: <select th:field="*{transactionType}">
	                <option value="">Select</option>
                    <option th:each="transactionType : ${T(com.brenner.portfoliomgmt.transactions.TransactionTypeEnum).values()}"
                        th:value="${transactionType}"
                        th:text="${transactionType.description}"
                        th:selected="${transaction.transactionType != null && transactionType.description.equals(transaction.transactionType.description)}"/>
	            </select><br> -->
	            <input type="submit" value="Update Transaction"/>
	        </fieldset>
	    </form>
    </div>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>
    
    
</body>
</html>