<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Select Transaction for Sale</title>
</head>
<body class="tundra">

	<div id="mainMenu"></div>
    <p></p>

    <p class="commonBoldTextFormat">Edit Transaction for Sale</p>
	
	<div class="formFrame">
	    <form action="sellHolding" class="formFormat">
	        <fieldset>
	            <input type="hidden" name="transactionId" th:value="${transaction.transactionId}" />
	            <!-- <input type="hidden" name="holdingId" th:value="${holdingId}" />  -->
	            Transaction date: <input type="date" name="transactionDate" th:value="${#dates.format(transaction.transactionDate, 'MM/dd/yyyy')}" autofocus="autofocus"/><br>
	            Price: <input type="number" name="tradePrice" th:value="${transaction.tradePrice}" step="any"/><br>
	            Quantity: <input type="number" name="tradeQuantity" th:value="${transaction.tradeQuantity}" step="any" /><br>
	            Investment: <input type="text" name="symbol" th:value="${transaction.investment.symbol}" /><br>
	            <input type="submit" value="Sell" />
	        </fieldset>
	    </form>
    </div>

</body>
</html>