<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
	<link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
	<link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
	<link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
<meta charset="UTF-8">
<title>Add A New Account</title>
</head>
<body class="tundra">

	 <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

    <p class="commonBoldTextFormat">Add a New Account</p>
    
    <form action="addAccount" class="formFormat">
        <fieldset>
            Account name: <input type="text" name="accountName"/><br>
            Company: <input type="text" name="company"/><br>
            Owner: <input type="text" name="owner"/><br>
            Account number: <input type="text" name="accountNumber"/><br>
            Type: <select name="type">
                <option value="Investment">Investment</option>
                <option value="401k">401k</option>
                <option value="IRA">IRA</option>
                <option value="Inherited IRA">Inherited IRA</option>
                <option value="Roth IRA">Roth IRA</option>
            </select><br>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
    
    <p></p>

    <p class="commonBoldTextFormat">Account Details</p>
    
    <table class="commonTableFormat">
        <tr>
            <th>Account Name</th>
            <th>Company</th>
            <th>Owner</th>
            <th>Account Number</th>
            <th>Type</th>
            <th>Current cash</th>
        </tr>
        <tr th:each="account : ${accountsAndCash}">
            <td th:text="${account.accountName}"><a href="editAccountPrep" th:href="@{/editAccountPrep(accountId=${account.accountId})}"/></a></td>
            <td th:text="${account.company}"></td>
            <td th:text="${account.owner}"></td>
            <td th:text="${account.accountNumber}"></td>
            <td th:text="${account.type}"></td>
            <td th:text="${#numbers.formatCurrency(account.currentCash)}"></td>
        </tr>
    </table>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>

</body>
</html>