<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
<meta charset="UTF-8">
<title>Add A New Account</title>
</head>
<body class="tundra">
    
    <div id="mainMenu"></div>
    <p></p>

    <p class="commonBoldTextFormat">Add a New Account</p>
    
    <div class="formFrame">
	    <form action="#" th:action="@{/addAccount}" class="formFormat" th:object="${account}" method="post">
	        <fieldset>
	            Account name: <input type="text" name="accountName" th:field="*{accountName}" /><br>
	            Company: <input type="text" name="company" th:field="*{company}" /><br>
	            Owner: <input type="text" name="owner" th:field="*{owner}" /><br>
	            Account number: <input type="text" name="accountNumber" th:field="*{accountNumber}" /><br>
	            Cash on account: <input type="number" name="cashOnAccount" th:field="*{cashOnAccount}" step="any"/><br />
	            Type: <select name="accountType" th:field="*{accountType}">
	                <option value="Investment">Investment</option>
	                <option value="401k">401k</option>
	                <option value="IRA">IRA</option>
	                <option value="Inherited IRA">Inherited IRA</option>
	                <option value="Roth IRA">Roth IRA</option>
	            </select><br>
	            <input type="submit" value="Submit" />
	        </fieldset>
	    </form>
    </div>
    
    <p></p>

    <p class="commonBoldTextFormat">Account Details</p>
    
    <table class="commonTableFormat">
        <tr>
            <th>Account Name</th>
            <th>Company</th>
            <th>Owner</th>
            <th>Account Number</th>
            <th>Type</th>
            <th>Current cash</th>
        </tr>
        <tr th:each="account : ${accountsandcash}">
            <td th:text="${account.accountName}"><a href="editAccountPrep" th:href="@{/editAccountPrep(accountId=${account.accountId})}"/></a></td>
            <td th:text="${account.company}"></td>
            <td th:text="${account.owner}"></td>
            <td th:text="${account.accountNumber}"></td>
            <td th:text="${account.accountType}"></td>
            <td th:text="${#numbers.formatCurrency(account.cashOnAccount)}"></td>
        </tr>
    </table>

</body>
</html>