<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Enter Dividend Payment</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>
  
    <p></p>

    <p class="commonBoldTextFormat">Enter Dividend Details</p>

	<div class="formFrame">
	    <form action="dividendReceived" class="formFormat">
	        <fieldset>
	            Trade date: <input type="date" name="tradeDate" autofocus="autofocus" /><br>
	            Amount: <input type="number" name="amount" step="any" /><br>
	            Investment: <select name="investmentId">
	                <option value="">Select</option>
	                <option th:each="investment : ${investments}" th:value="${investment.investmentId}" th:text="${investment.symbol + ' :: ' + investment.companyName}"/>
	            </select><br>
	            Account: <select name="accountId">
	                <option value="">Select</option>
	                <option th:each="account : ${accounts}" th:value="${account.accountId}" th:text="${account.accountName + ' (' + account.company + ' :: ' + account.owner + ')'}"/>
	            </select><br>
	            <input type="submit" value="Process Dividend" />
	        </fieldset>
	    </form>
    </div>
</body>
</html>