<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
<meta charset="UTF-8">
<title>Edit Account Information</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>

    <p></p>

    <p class="commonBoldTextFormat">Edit Account Information</p>

	<div class="formFrame">
	    <form action="updateAccount" class="formFormat" th:object="${account}">
	        <input type="hidden" name="accountId" th:field="*{accountId}" />
	        <fieldset>
	            Account name: <input type="text" name="accountName" th:field="*{accountName}"/><br>
	            Company: <input type="text" name="company" th:field="*{company}"/><br>
	            Owner: <input type="text" name="owner" th:field="*{owner}"/><br>
	            Account number: <input type="text" name="accountNumber" th:field="*{accountNumber}"/><br>
                Cash on account: <input type="number" name="cashOnAccount" th:field="*{cashOnAccount}" step="any"/><br />
	            Type: <select name="accountType" th:field="*{accountType}">
                    <option value="Savings" th:selected="*{accountType.equals('Savings')}">Savings</option>
                    <option value="Checking" th:selected="*{accountType.equals('Checking')}">Checking</option>
	                <option value="Investment" th:selected="*{accountType.equals('Investment')}">Investment</option>
	                <option value="401k" th:selected="*{accountType.equals('401k')}">401k</option>
	                <option value="IRA" th:selected="*{accountType.equals('IRA')}">IRA</option>
	                <option value="Inherited IRA" th:selected="*{accountType.equals('Inherited IRA')}">Inherited IRA</option>
	                <option value="Roth IRA" th:selected="*{accountType.equals('Roth IRA')}">Roth IRA</option>
                    <option value="Crypto" th:selected="*{accountType.equals('Crypto')}">Crypto</option>
	            </select><br>
	            <input type="submit" value="Update" />
	        </fieldset>
	    </form>
    </div>

</body>
</html>