<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
	<meta charset="UTF-8">
        <title>Add a New User</title>
    </head>
<body class="tundra">

	<div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>
    
    <div class="formFrame">
        <form action="addUserSubmit" method="post" class="formFormat" th:object="${user}">
            <input type="hidden" name="userId" th:value="${user.userId}" />
            <div><label> User Name : <input type="text" name="username" th:value="${user.username}" /> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label> Role: 
            	
            <ul>
            	<li th:each="role : ${roles}">
				    <input type="checkbox" name="selectedRoleId" th:checked="${#lists.contains(user.roles, role)}" th:value="${role.roleId}" />
				    <label th:text="${role.roleName}"></label>
				</li>
            </ul></label>
            
            <!-- <select name="roleId">
                <option 
                    th:each="role : ${roles}" 
                    th:value="${role.roleId}" 
                    th:text="${role.roleName}" 
                    th:selected="${user.roles[0]?.roleName.equals(role.roleName)}"/>
            </select> </label> --></div>
            <div><input type="submit" value="Update User"/></div>
        </form>
        </div>
        <p></p>
        
        
        <table class="commonTableFormat">
            <tr>
                <th>User name</th>
                <th>Role</th>
            </tr>
            <tr th:each="user : ${users}">
                <td><a th:href="@{editUserFormPrep?(userId=${user.userId})}"><span th:text="${user.username}"></span></a></td>
                <td>
                	<label th:each="role : ${user.roles}" th:text="${role.roleName} + ', '"></label>
                </td>
            </tr>
        </table>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>
    </body>
</html>