<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
<title>Update Investment Details</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>

    <p></p>

    <p class="commonBoldTextFormat">Edit Investment Details</p>
    
    <div class="formFrame">
	    <form action="#" th:action="@{/updateInvestment}" class="formFormat" th:object="${investment}" method="post">
	        <input type="hidden" name="investmentId" th:value="${investment.investmentId}"/>
	        <fieldset>
	            Company name: <input type="text" size="50" name="companyName" th:attr="value=${investment.companyName}" /><br>
	            Symbol: <input type="text" name="symbol" th:attr="value=${investment.symbol}"/><br>
	            Sector: <input type="text" name="sector" th:value="${investment.sector}" /><br>
	            Exchange: <input type="text" name="exchange" th:value="${investment.exchange}" /><br>
	            Investment type: <select name="investmentType">
	            	<option value="">Select</option>
	            	<option th:each="investmentTypeEnum : ${T(com.brenner.portfoliomgmt.domain.InvestmentTypeEnum).values()}"
	            		th:value="${investmentTypeEnum}"
	            		th:text="${investmentTypeEnum.displayName}"
	            		th:selected="${investment.investmentType != null and investmentTypeEnum.displayName.equals(investment.investmentType.displayName)}">
	    			</option>
	            </select><br>
	            <input type="submit" value="Update Investment" autofocus="autofocus"/>
	        </fieldset>
	    </form>
    </div>

</body>
</html>