<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
    <meta charset="UTF-8">
    <title>All Investment Options</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>

    <p></p>

    <p class="commonBoldTextFormat">List of Investments</p>

    <table class="commonTableFormat">
        <tr>
            <th>Company</th>
            <th>Symbol</th>
            <th>Sector</th>
            <th>Exchange</th>
            <th>Type</th>
            <th>Update Share Details</th>
            <th>Last Quote Date</th>
            <!-- <th>Delete</th> -->
        </tr>
        <tr th:each="investment : ${investments}">
            <td><a href="getInvestmentDetails" th:href="@{/getInvestmentDetails(investmentId=${investment.investmentId})}"><span th:text="${investment.companyName}"></span></a></td>
            <td th:text="${investment.symbol}"></td>
            <td th:text="${investment.sector}"></td>
            <td th:text="${investment.exchange}"></td>
            <td th:text="${investment.investmentType}"></td>
            <td><a th:href="@{/startManualQuote(investmentId=${investment.investmentId})}">Add</a></td>
            <td>
                <div th:if="${investment.mostRecentQuote != null}">
                    <span th:text="${#calendars.format(investment.mostRecentQuote.date, 'MM/dd/yyyy')}"></span>
                </div>
            </td>
            <!-- <td><a th:href="@{/deleteInvestment(investmentId=${investment.investmentId})}">Delete</a></td> -->
        </tr>
    </table>

</body>
</html>