<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
    <meta charset="UTF-8">
    <title>Add a New Investment</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>

    <p></p>

    <p class="commonBoldTextFormat">Investment Details</p>
    
    <form action="addInvestment" class="formFormat">
        <fieldset>
            Full name: <input type="text" name="companyName" th:attr="value=${investment.companyName}" /><br>
            Symbol: <input type="text" name="symbol" th:attr="value=${investment.symbol}"/><br>
            Sector: <input type="text" name="sector" th:value="${investment.sector}" /><br>
            Exchange: <input type="text" name="exchange" th:value="${investment.exchange}" /><br>
            Investment type: <select name="investmentType">
            	<option th:each="investmentType : ${T(com.brenner.portfoliomgmt.domain.InvestmentTypeEnum).values()}"
            		th:value="${investmentType}"
            		th:text="${investmentType.displayName}">
    			</option>
            </select><br>
            <input type="submit" value="Add Investment" />
        </fieldset>
    </form>

</body>
</html>