<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <meta charset="UTF-8">
    <title>Add a New Investment</title>
</head>
<body class="tundra">

	 <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

    <p class="commonBoldTextFormat">Investment Details</p>
    
    <form action="addInvestment" class="formFormat">
        <fieldset>
            Full name: <input type="text" name="companyName" th:attr="value=${investment.companyName}" /><br>
            Symbol: <input type="text" name="symbol" th:attr="value=${investment.symbol}"/><br>
            Sector: <input type="text" name="sector" th:value="${investment.sector}" /><br>
            Exchange: <input type="text" name="exchange" th:value="${investment.exchange}" /><br>
            Investment type: <select name="investmentType">
            	<option th:each="investmentType : ${T(com.brenner.portfoliomgmt.investments.InvestmentTypeEnum).values()}"
            		th:value="${investmentType}"
            		th:text="${investmentType.displayName}">
    			</option>
            </select><br>
            <input type="submit" value="Add Investment" />
        </fieldset>
    </form>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>

</body>
</html>