<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
<meta charset="UTF-8">
<title>Today's News</title>
</head>
<body class="tundra">

     <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    <p></p>

    <p class="commonBoldTextFormat">Today's News</p>
    
    <div class="formFrame">
        <form class="formFormat">
            <fieldset>
                Investments: <select name="symbol" id="symbolsList">
                    <option value="">Select</option>
                    <option th:each="investment : ${investments}" th:value="${investment.symbol}" th:text="${investment.symbol + ' :: ' + investment.companyName}"/>
                </select><br>
                <input type="submit" value="Retrieve News" />
            </fieldset>
        </form>
    </div>
    
    <p></p>
    
    <table class="commonTableFormat" id="newsTable">
        <tr>
            <th width="75">Date</th>
            <th width="250">Headline</th>
            <th width="100">Source</th>
            <th width="750">Summary</th>
        </tr>
        <tr th:each="news : ${news}">
            <td th:text="${#dates.format(news.publishedDate, 'MM-dd-yyyy')}" />
            <td><img th:href="${news.imageUrl}" /> <a th:href="${news.articleUrl}" target="_new"><span th:text="${news.headline}"></span></a></td>
            <td th:text="${news.source}" />
            <td th:text="${news.summary}" />
        </tr>
    </table>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>
   <script>require(["js/buildNewsTable.js"], function(getNews){});</script>

</body>
</html>