<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Add a Watchlist</title>
</head>
<body class="tundra">

	<div id="mainMenu"></div>

    <p></p>
    <div class="formFrame">
        <form action="addWatchlist" method="post" class="formFormat" th:object="${watchlist}">
            <div><label> Watchlist Name : <input type="text" name="watchlistName" th:value="${watchlist.watchlistName}"/> </label></div>
            <div>Investments: 
	            <ul>
	            	<li th:each="investment : ${investments}">
					    <input type="checkbox" th:field="*{investmentsToWatch}" th:checked="${''}" th:value="${investment.investmentId}" />
					    <label th:for="${#ids.prev('investmentsToWatch')}" 
					           th:text="${investment.symbol + ' : ' + investment.companyName}"></label>
					</li>
	            </ul>
            </div>
            <div><input type="submit" value="Add Watchlist"/></div>
        </form>
    </div>

</body>
</html>