<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
	<meta charset="UTF-8">
	<title>Investment Manager Dashboard</title>
</head>
<body class="tundra">

	<div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>

    <p class="commonBoldTextFormat">Manage Investments</p>

    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <div id="jsonStream"></div>
    <p></p>
    
    <span class="commonBoldTextFormat">Total Change in Portfolio</span>
    <table id="totalPortfolioChange" class="commonTableFormat"></table>
    
    <p></p>
    
    <span class="commonBoldTextFormat">Portfolio Changes by Holding</span>
    <div class="grid" id="totalPortfolioChangeByHolding"></div>
    
    <p></p>
    
    <span class="commonBoldTextFormat">Portfolio Changes by Sector</span>
    <div class="grid" id="totalPortfolioChangeBySector"></div>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>
    
   <script>
        require([
            "js/buildDashboardTotalPotfolioChangeTable.js"
        ], function (buildDashboardTotalPotfolioChangeTable) {
        });
    </script>
    
   <script>
        require([
            "js/buildDashboardTotalPotfolioChangeByHolding.js"
        ], function (buildDashboardTotalPotfolioChangeByHolding) {
        });
    </script>
    
   <script>
        require([
            "js/buildDashboardTotalPotfolioChangeBySectorTable.js"
        ], function (buildDashboardTotalPotfolioChangeBySectorTable2) {
        });
    </script>
    
    
</body>
</html>