<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
	<meta charset="UTF-8">
	<title>Investment Manager Dashboard</title>
</head>
<body class="tundra">

	<div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
 
 Logged user: <span sec:authentication="name"></span><br/>
<form method="post" action="register">
    <sec:csrfInput />
</form>

    
    <script src="js/menu.js"></script>
    
</body>
</html>