<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Load Bulk Data</title>
</head>
<body class="tundra">

	<div id="mainMenu"></div>
    <p></p>

    <p class="commonBoldTextFormat">Load Bulk Data</p>
    
    <div class="formFrame">
	    <form action="#" th:action="@{/parseBulkData}" enctype="multipart/form-data" method="post" class="formFormat">
            
	        <fieldset>
	            Data Type: <select name="dataType">
	                <option value="">Select</option>
	                <option value="holdings">Holdings</option>
	                <option value="investments" selected>Investments</option>
	            </select><br>
	            Delimiter: <input type="text" name="delimiter" value="," /><br>
	            Symbol: <input type="text" name="symbol" /><br>
	            File: <input type="file" name="bulkData"/><br>
	            <input type="submit" value="Submit" />
	        </fieldset>
	    </form>
    </div>

</body>
</html>