<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/holdingsTable.js"></script>
    <script>require(["js/buildHoldingsTableByAccount.js"], function (buildHoldingsTable) {});</script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Select Account for Holdings List</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>
    <p></p>

    <div id="jsonStream"></div>

    <p class="commonBoldTextFormat">Holdings for Account</p>
	
	<div class="formFrame">
	    <p class="commonBoldTextFormat">
	        Total Value Change: <span class="commonTextFormat" id="totalValueChange"></span><br>
	        Value at Purchase: <span class="commonTextFormat" id="valueAtPurchase"></span><br>
	        Current Cash: <span class="commonTextFormat" id="currentCash"></span><br>
	        Total Current Value: <span class="commonTextFormat" id="totalCurrentValue"></span>
	    </p>
	</div>
	
    <p class="commonBoldTextFormat">Choose Account to List Holdings</p>
	
	<div class="formFrame">
	    <form class="formFormat">
	        <fieldset>
	            <div th:insert="~{fragments :: accountsList}"></div><br>
	        </fieldset>
	    </form>
    </div>
    
    <p></p>
    
    <table id="tableDiv" class="commonTableFormat"></table>
    
    <p></p>
    
    <div id="resultDiv" class="commonTextFormat"></div>
    <p></p>
    

</body>
</html>