<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
	<meta charset="UTF-8">
	<title>Select Account for Holdings List</title>
</head>
<body class="tundra">

	 <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

    <p class="commonBoldTextFormat">Choose Account to List Holdings</p>

	<div style="formFrame">
	    <form action="getHoldings" class="formFormat">
	        <fieldset>
	            <div th:insert="~{fragments :: accountsList}"></div><br>
	            <input type="submit" value="Get Holdings"/>
	        </fieldset>
	    </form>
	</div>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>

</body>
</html>