<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dojo.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/dgrid.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-themes/tundra/tundra.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/dojo.js"></script>
	<meta charset="UTF-8">
	<title>Edit Holding Details</title>
</head>
<body class="tundra">

	 <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    
    <!-- <div th:insert="~{fragments :: menu}"></div> -->
    <p></p>

    <p class="commonBoldTextFormat">Edit Holding Details</p>

	<div class="formFrame">
	    <form action="#" th:action="@{/updateHolding}" class="formFormat" th:object="${holding}" method="post">
	        <fieldset>
	            <input type="hidden" name="holdingId" th:field="*{holdingId}"/>
	            Account: <select th:field="*{account}" autofocus="autofocus">
	                <option value="">Select</option>
	                <option 
	                    th:each="account : ${accounts}" 
	                    th:value="${account.accountId}" 
	                    th:text="${account.accountName + ' (' + account.owner + ')'}" 
	                    th:selected="${holding.account.accountId == account.accountId}"/>
	            </select><br>
                Investment: <select th:field="*{investment}">
                    <option value="">Select</option>
                     <option 
                         th:each="inv : ${investments}" 
                         th:value="${inv.investmentId}"
                         th:text="${inv.symbol + ' :: ' + inv.companyName}"
                         th:selected="${inv.investmentId == holding.investment.investmentId}" />
                </select><br>
                Purchase Price: <input type="number" step="any" th:field="${holding.purchasePrice}"/><br>
	            Quantity: <input type="number" th:field="*{quantity}"/> <br>
	            Bucket: <select name="bucketEnum">
                    <option value="">Select</option>
                    <option th:each="bucketEnum : ${T(com.brenner.portfoliomgmt.holdings.BucketEnum).values()}"
                        th:value="${bucketEnum}"
                        th:text="${bucketEnum.description}"
                        th:selected="${holding.bucketEnum != null && bucketEnum.description.equals(holding.bucketEnum.description)}">
                    </option>
                </select><br/>
	            <input type="submit" value="Update Holding" />
	        </fieldset>
	    </form>
    </div>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>

</body>
</html>