<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/soria/soria.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.17.2/dijit/themes/tundra/tundra.css">
    <script>dojoConfig = {async: true}</script>
    <script src="js/dojo-release-1.17.2/dojo/dojo.js"></script>
    <script src="js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Holding for Account</title>
</head>
<body class="tundra">

	 <div id="mainMenu"></div>

    <p></p>

    <p class="commonBoldTextFormat">Holdings for Account</p>

    <p class="commonBoldTextFormat">
	    Holdings from account: <span class="commonTextFormat" th:text="${account.accountName}"></span> <br>
	    Cash on account: <span class="commonTextFormat" th:text="${#numbers.formatCurrency(account.currentCash)}"></span><br>
	    Total value change: <span class="commonTextFormat" th:text="${totalValueChange}"></span><br>
	    Total Stock Value: <span class="commonTextFormat" th:text="${totalStockValue}"></span><br>
	    Total Value: <span class="commonTextFormat" th:text="${totalValue}"></span>
	</p>
    
    
    <table border="1" class="commonTableFormat">
        <tr>
	        <th>Holding</th>
	        <th>Symbol</th>
	        <th>Purchase Date</th>
	        <th>Quantity</th>
	        <th>Price at Purchase</th>
	        <th>Current Price</th>
	        <th>Change in price</th>
	        <th>Value at Purchase</th>
	        <th>Current Value</th>
	        <th>Change in Value</th>
	    </tr>
	    <tr th:each="holding : ${holdings}">
            <td><a href="editHolding" th:href="@{/editHolding(holdingId=${holding.holdingId})}"><span th:text="${holding.investment.companyName}"></span></a></td>
	       <td th:text="${holding.investment.symbol}" />
	       <td th:text="${#dates.format(holding.trade.tradeDate, 'MM/dd/yyyy')}" />
	       <td th:text="${holding.quantity}" />
	       <td th:text="${holding.trade.price}" />
	       <td th:text="${holding.quote?.close}" />
	       <td th:text="${#numbers.formatCurrency(holding.changeInPrice)}" />
	       <td th:text="${#numbers.formatCurrency(holding.valueAtPurchase)}"/>
	       <td th:text="${#numbers.formatCurrency(holding.currentValue)}" />
	       <td th:text="${#numbers.formatCurrency(holding.changeInValue)}" />
	    </tr>
    </table>

</body>
</html>